# agent
.claude/
CLAUDE.md

# claudeCode_xcode_Skel
Issue.md
noteForHuman.md

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# CLI 작업 문서
cli/_doc_work/
cli/_doc_design/

# VSCode
.history
*.local.vscode/

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive
*.canvas
*.xcframework
